---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

   <!-- Sidebar Container -->
   <div class="
   col-lg-8 col-lg-offset-2
   col-md-10 col-md-offset-1
   sidebar-container">

    <!-- Featured Tags -->
    {% if site.featured-tags %}
    <section>
        <!-- no hr -->
        <h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
        <div class="tags">
    {% for tag in site.tags %}
                {% if tag[1].size > site.featured-condition-size %}
            <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                    </a>
                {% endif %}
    {% endfor %}
  </div>
    </section>
    {% endif %}
 
 </div>


</article>
