---
layout: default
---

<!--//添加评论系统-->
<link rel="stylesheet" href="../css/gitalk.css">
<script src="../js/gitalk.min.js"></script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}


  <!--   gitalk       -->
  {% if site.gitalk %}
  <div class="comment">
  {% include comments.html %}
  </div>
  {% endif %}


   <!-- Sidebar Container -->
   <div class="
   col-lg-8 col-lg-offset-2
   col-md-10 col-md-offset-1
   sidebar-container">

   <!-- Featured Tags -->
   {% if site.featured-tags %}
   <section>
       <hr class="hidden-sm hidden-xs">
       <h5><a href="/tags/">FEATURED TAGS</a></h5>
       <div class="tags">
        {% for tag in site.tags %}
                    {% if tag[1].size > site.featured-condition-size %}
                <a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                            {{ tag[0] }}
                        </a>
                    {% endif %}
        {% endfor %}
      </div>
   </section>
   {% endif %}
  </div>
  


</article>
